[Unit]
Description = making canopy server paas up
[Service]
ExecStart = /bin/bash -c 'canopy_server_paas --addr="$(hostname -I | cut -d' ' -f1)" --port=8080'