[Unit]
Description = making canopy server paas up
[Service]
ExecStart = /bin/bash -c '$CANOPY_DIR/Projects/canopy_server_startup/canopy_server_paas.sh --addr="$(hostname -I | cut -d' ' -f1)" --port=8080'