[Unit]
Description = making canopy server comm up
[Service]
ExecStart = /bin/bash -c '$CANOPY_DIR/Projects/canopy_server_startup/canopy_server_comm.sh --addr="$(hostname -I | cut -d' ' -f1):8080"'